extend layout

block controls
  .row.controls
    .col-xs-6.col-md-6.text-center
      button.btn.btn-lg(ng-click="route = 'chart'", ng-class="{active: route == 'chart'}") Chart
    .col-xs-6.col-md-6.text-center
      button.btn.btn-lg(ng-click="route = 'scoreboard'", ng-class="{active: route == 'scoreboard'}") Scoreboard


block views
  .row(ng-switch, on='route')
    .col-md-12(ng-switch-when='chart')
      .buffer
        .chart#scores(style='width:740px;height:460px')
    .col-md-12(ng-switch-when='scoreboard')
      h1 Scoreboard

block content
  .container
    .row
      .col-md-12
        block controls
        hr
        block views

