extend layout

block controls
  .row.controls
    .col-xs-6.col-md-6.text-center
      button.btn.btn-lg(ng-click="route = 'chart'", ng-class="{active: route == 'chart'}") Chart
    .col-xs-6.col-md-6.text-center
      button.btn.btn-lg(ng-click="route = 'scoreboard'", ng-class="{active: route == 'scoreboard'}") Scoreboard


block views
  .row(ng-switch, on='route')
    .col-md-12(ng-switch-when='chart')
      .buffer
        .chart#scores(style='width:740px;height:460px')
    .col-md-12(ng-switch-when='scoreboard')
      .buffer(ng-controller='ScoreboardCtrl')
        table.table.table-bordered.score-table
          tbody
            tr
              th.lead(colspan=2) Top 30 logins...
            tr(ng-repeat='user in orderedUsers()')
              td.login {{ user.login }}
              td.points {{ user.points }}


block content
  .container
    .row
      .col-md-12
        block controls
        hr
        block views

