doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(href='//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js')
  body
    .container
      block content

