doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/lib/bootstrap-3.1.1.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='lib/jquery-2.1.0.js')
    script(src='lib/bootstrap-3.1.1.min.js')
    script(src='lib/chart-0.2.0.min.js')
  body
    //- Heading block "CGCU <3's U"
    .jumbotron.text-center
      h1 CGCU &lt;3s U
      p.lead Scoreboard signin
    block append modal
    block append content
    block append scripts

