mixin score
  .score-input(ng-show="stage == 'score'")
    h1 Score
    table.table.table-bordered.text-center.table-hover
      tbody
        tr(ng-repeat='s in scores')
          td(ng-click='setScore(s)') {{ s }}

mixin dept
  .dept-input(ng-show="stage == 'dept'")
    h1 Dept
    table.table.table-bordered.text-center.table-hover
      tbody
        tr(ng-repeat='d in depts')
          td(ng-click='setDept(d)') {{ d.name }}

mixin login
  .score-login(ng-show="stage == 'login'")
    h1 Submit
    span.lead.submit
      | Award
      strong {{ input.score }}
      | points to dept
      strong {{ input.dept }}
      | on behalf of...
    input.input-lg.form-control(type='text', placeholder='College Login', ng-model='input.login')
    button.btn.btn-primary.btn-lg(ng-click='submit()', ng-class="{disabled: input.login.length == 0}") Submit

.modal#new-score
  .model-dialog
    .modal-content(ng-controller='NewScoreCtrl')
      .modal-body
        mixin score
        mixin dept
        mixin login



