extend layout
block content
  form.form-signin(role='form', signin-form)
    input.form-control(placeholder='Login', name='login', autofocus)
    input.form-control(placeholder='Password', name='pass', type='password')
    .row
      .col-md-12
        a.sign-up Help?
        label.remember.checkbox
          input(type='checkbox', name='rememberme')
          span Remember me
    .row
      .col-md-12
        button.btn.btn-lg.btn-primary.btn-block.
          #{(flash && flash.error) || "Submit"}

block content
  block signin
