.chart {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron {
  background: none;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input.form-control {
  margin-top: 10px;
}
.form-signin label.remember {
  float: right;
}
.form-signin a.sign-up {
  top: 10px;
  float: left;
  position: relative;
}
#new-score {
  height: 460px;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#new-score .modal-body {
  padding: 0;
}
#new-score .modal-body table.table td {
  line-height: 40px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
