.admin-lock
  position absolute
  right 14px
  top 14px
  color #ddd

.chart
  position relative
  display block
  margin-left auto
  margin-right auto

.jumbotron
  background none
  padding-bottom 0px

.form-signin
  max-width 330px
  padding 15px
  margin 0 auto
  input.form-control
    margin-top 10px
  label.remember
    float right
  a.sign-up
    top 10px
    float left
    position relative

#new-score
  width 320px
  margin auto
  top 33%
  table.table td
    line-height 40px
    font-size 22px
    font-weight bold
    cursor pointer

img.logo
  width 300px
  height 330px

.controls
  button.btn
    border none
    width 100%
    background none
  button.active
    font-weight bold
    box-shadow none
  button:focus
    box-shadow none
    outline none !important

.buffer
  margin-top 20px
  margin-bottom 80px

.score-login
  input, button
    margin-top 15px
    border-radius 1px
    text-align center
  .lead.submit
    strong
      margin-left 6px
      margin-right 6px
